<html>
    Unicorn Wallet 서비스 이용약관<br>
        시행일자 2022. 09. 03.<br>
        <br>
        제 1조 (목적)<br>
        이 약관(이하 약관이라고 합니다)은 송현경(이하 서비스 제공자라고 합니다)가 제공하는 서비스의 이용과 관련하여 서비스 제공자와 이용자 간의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.<br>
        <br>
        제 2조 (정의)<br>
        '약관'에서 사용하는 용어의 정의는 아래와 같습니다.<br>
        ① 서비스라 함은 함은 단말기(PC, 휴대형 단말기 등의 각종 유무선 장치를 포함)에 상관없이, 회원이 이용할 수 있는 Unicorn Wallet의 디지털 자산 거래 서비스 및 이와 관련된 제반 서비스를 의미합니다.<br>
        ② 이용자라 함은 서비스 제공자의 서비스를 이용하기 웹사이트(domain url) 아이디로 로그인 후 약관에 따라 서비스 제공자와 이용계약을 체결하고 사업자회원이 제공하는 상품 등을 이용하기 위하여 서비스를 통하여 지갑 서비스를 사용 하는 자를 의미합니다.<br>
        ③ 사업자회원이라 함은 서비스 제공자의 서비스를 이용하여 이용자에게 상품 등을 제공하는 사업자를 의미합니다.<br>
        ④ Unicorn Wallet이라 함은 이용자가 서비스의 이용과 관련된 사항 및 디지털 자산 보유 현황 등을 확인할 수 있도록 서비스 제공자가 제공하는 어플리케이션을 의미합니다.<br>
        ⑤ 디지털 자산이라 함은 서비스에서 거래할 수 있는 비트코인, 이더리움 등 블록체인에서 전자적으로 존재하는 정보로 서비스의 대상물을 말합니다.<br>
        ⑥ 약관에서 사용하는 용어 중 본 조 제1항 내지 제6항에서 정하지 아니한 것은 관련 법령 및 일반적인 상관례에 따릅니다.<br>
        <br>
        제 3조 (약관의 게시와 개정)<br>
         서비스 제공자는 약관의 내용을 이용자가 쉽게 알 수 있도록 Unicorn Wallet 초기 화면 또는 연결 화면을 통하여 게시합니다.<br>
        ② 서비스 제공자는 필요한 경우 관련 법령을 위배하지 않는 범위 내에서 약관을 개정할 수 있습니다.<br>
        ③ 서비스 제공자는 약관을 개정할 경우 개정내용과 적용일자를 명시하여 제9조에 따른 방법으로 적용일자 7일 전부터 적용일자 전일까지 통지합니다. 다만, 이용자에게 불리하게 개정되는 경우에는 적용일자 30일 전부터 적용일자까지 공지하고, 이용자가 기재한 전자우편주소 또는 Unicorn Wallet 로그인 시 노출되는 팝업 창 등의 전자적 수단을 통해 별도로 통지합니다.<br>
        ④ 서비스 제공자가 전항에 따라 약관의 개정을 공지하면서 이용자에게 적용일자 전일까지 이의 제기 등 거부의 의사표시를 하지 않으면 동의의 의사표시가 표명된 것으로 본다는 뜻을 명확하게 고지했거나 제9조에 따른 방법으로 통지하였음에도 이용자가 명시적으로 거부의 의사표시를 하지 않은 경우 이용자가 개정되는 약관에 동의한 것으로 봅니다.<br>
        ⑤ 이용자는 약관의 개정에 동의하지 않을 경우 적용일자 전일까지 서비스 제공자에 거부의사를 표시하고 서비스 이용계약을 해지할 수 있습니다.<br>
        <br>
        제 4조 (서비스 제공자의 개인정보보호의무)<br>
        서비스 제공자는 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 개인정보보호법 등 관련 법령이 정하는 바에 따라 이용자의 개인정보를 보호하기 위해 노력합니다. 개인정보의 보호 및 이용에 대해서는 관련 법령 및 서비스 제공자의 개인정보처리방침이 적용됩니다. 다만, 서비스 제공자의 공식 사이트 이외의 링크된 사이트에서는 서비스 제공자의 개인정보처리방침이 적용되지 않습니다.<br>
        <br>
        제 5조 (회원정보 등의 변경)<br>
         이용자는 Unicorn Wallet의 회원정보 관리화면을 통하여 언제든지 본인의 회원정보를 열람할 수 있으며, 이를 수정할 수 있습니다.<br>
        ② 이용자가 제2항을 위반하여 변경사항을 서비스 제공자에 알리지 않아 발생한 불이익에 대해서 서비스 제공자는 책임지지 않습니다.<br>
        <br>
        제 6조 (대리 및 보증의 부인)<br>
        ① 서비스 제공자는 이용자와 사업자회원 간의 편리한 상품 등의 거래를 위한 서비스를 운영 및 관리, 제공할 뿐이며, 이용자 또는 사업자회원을 대리하지 않습니다. 또한, 이용자와 사업자회원 사이에 성립된 상품 등의 거래에 관련한 책임과 이용자 및 사업자회원이 제공한 정보에 대한 책임은 해당 이용자 및 사업자회원이 직접 부담하여야 합니다.<br>
        ② 서비스 제공자는 서비스를 통하여 이루어지는 이용자와 사업자회원 간의 상품 등의 거래와 관련하여 판매의사 또는 구매의사의 존부 및 진정성, 상품 등의 품질, 완전성, 안전성, 적법성 및 타인의 권리에 대한 비침해성, 이용자 또는 사업자회원이 입력한 정보 및 그 정보를 통하여 링크된 URL에 게재된 자료의 진실성 또는 적법성 등 일체에 대하여 보증하지 아니하며, 이와 관련한 일체의 위험은 해당 이용자 또는 사업자회원이 전적으로 부담합니다.<br>
        ③ 서비스 제공자는 사업자회원에게 상품 등을 판매하거나 사업자회원으로부터 상품 등을 구매하지 않으며, 단지 사업자회원과 이용자 간의 상품 등의 거래의 편의성을 증진시키는 도구만을 개발 및 제공합니다.<br>
        <br>
        제 7조 (서비스의 이용 및 제한)<br>
         이용자는 Unicorn Wallet 아이디로 로그인 한 후 본 약관에 동의하는 방법으로 서비스 이용가입신청을 하고 서비스 제공자가 이를 승낙함으로써 서비스를 이용할 수 있습니다.<br>
        다만, 다음 각 호의 사유가 있는 경우, 신청에 대하여는 승낙을 하지 않거나 사후에 이용계약을 해지할 수 있습니다.<br>
        <br>
        1.실명이 아니거나 타인의 명의를 이용한 경우<br>
        2.허위의 정보를 기재하거나, 서비스 제공자가 제시하는 내용을 기재하지 않은 경우<br>
        3.만 14 세 미만 미성년자가 법정대리인 동의 없이 신청하거나, 사업자 또는 법인 명의로 신청하는 경우<br>
        4.’이용자’의 귀책사유로 인하여 승낙이 불가능하거나 기타 서비스 제공자가 정한 제반 사항을 위반하여 신청하는 경우<br>
        5.기타 이 약관에 위배되거나 위법 또는 부당한 가입신청임이 확인된 경우<br>
        ② 제 1 항에 따른 신청에 있어 서비스 제공자는 가입 신청한 이용자에게 전문기관을 통한 실명확인 및 본인인증을 요청할 수 있습니다.<br>
        ③ 서비스를 이용하고자 하는 이용자는 서비스 이용과 관련하여 서비스 제공자가 요구하는 사항(이용자의 성명, 휴대전화번호, 이메일 주소 등)을 서비스 제공자에 제공함으로써 서비스를 이용할 수 있습니다.<br>
        ④ 서비스 제공자는 이용자에게 사업자회원이 제공하는 상품 등의 예약 및 주문을 할 수 있도록 아래와 같은 서비스를 제공합니다.<br>
        1. 사업자회원이 제공하는 상품 등의 예약 및 주문을 위한 솔루션<br>
        2. 기타 이용자의 서비스 이용 관리 등을 위한 제반 서비스<br>
        ⑤ 서비스 제공자는 이용자가 서비스의 본래 목적에 어긋나게 이를 사용하거나 또는 사업자회원의 사업을 방해할 목적으로 반복적으로 구매의사 없이 예약 또는 주문을 남발하는 경우 등에는 서비스 이용을 제한할 수 있습니다.<br>
        ⑥ 서비스 제공자는 원칙적으로 이용자의 이용신청을 승낙한 때로부터 서비스를 연중무휴로 1일 24시간 제공합니다. 다만, 서비스 제공자의 기술상 또는 업무상의 장애로 인하여 서비스를 즉시 개시하지 못하는 경우 서비스 제공자는 제9조에 따른 방법으로 이용자에게 통지합니다.<br>
        ⑦ 서비스 제공자는 안정적인 서비스 제공을 위하여 서비스의 내용, 운영상 또는 기술상 사항 등을 변경할 수 있습니다. 이 경우 서비스 제공자는 서비스 중요사항을 변경할 경우 변경내용과 적용일자를 명시하여 제9조에 따른 방법으로 사전에 통지합니다.<br>
        ⑧ 서비스 제공자는 다음 각 호에 해당하는 경우 서비스의 일부 또는 전부의 제공을 일시적으로 중단할 수 있습니다. 이 경우 서비스 제공자는 서비스 이용의 중단 사실을 제9조의 방법에 따라 즉시 공지합니다.<br>
        1. 설비의 보수 등을 위하여 부득이한 경우<br>
        2. 「전기통신사업법」에 규정된 기간통신사업자가 전기통신서비스를 중지하는 경우<br>
        3. 국가비상사태, 정전, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 정상적인 서비스 제공에 지장이 있는 경우<br>
        4. 기타 서비스 제공자가 서비스를 제공할 수 없는 위 제1호 내지 제3호에 준하는 사유가 발생한 경우<br>
        5. 사업자회원이 서비스 제공자가 제공하는 통상적인 수준의 트래픽, 용량 등을 과도하게 초과하여 서비스 제공자의 정상적인 서비스 제공에 지장을 초래할 우려가 있는 경우<br>
        ⑨ 이용자는 언제든지 서비스 제공자에 대한 통지로서 서비스 이용계약을 해지할 수 있으며, 서비스 제공자는 관련 법령이 정하는 바에 따라 이를 즉시 처리하여야 합니다. 이 경우 서비스 제공자는 관련 법령 및 개인정보처리방침에 따라 보유하는 이용자의 정보를 제외한 이용자의 예약정보 등을 삭제합니다.<br>
        <br>
        제 8조 (통지)<br>
        ① 서비스 제공자가 이용자에 대하여 통지를 하는 경우 약관에 별도의 규정이 없는 한 이용자가 제공한 전자우편주소, (휴대)전화번호, 주소 등으로 할 수 있습니다.<br>
         서비스 제공자는 이용자 전체에 대하여 통지를 하는 경우 Unicorn Wallet 초기화면 또는 게시판에 게시함으로써 전항의 통지에 갈음할 수 있습니다. <br>
        ③ 이용자는 서비스 제공자에 실제로 연락이 가능한 전자우편, (휴대)전화번호, 주소 등의 정보를 제공하고 해당 정보들을 최신으로 유지하여야 하며, 서비스 제공자의 통지를 확인하여야 합니다.<br>
        <br>
        제 9조 (책임제한)<br>
        ① 서비스 제공자는 천재지변, 디도스(DDOS) 공격, IDC 장애, 기간통신사업자의 회선 장애 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 관한 책임을 지지 않습니다.<br>
        ② 서비스 제공자는 이용자의 귀책사유로 인한 서비스 이용의 장애에 대하여는 책임을 지지 않습니다.<br>
        ③ 서비스 제공자는 제7조 제6항 및 제7항의 서비스 이용의 변경 및 중단의 경우에 고의 과실 등 귀책사유가 없는 한 책임을 지지 않습니다.<br>
        ④ 사업자회원이 서비스를 이용하여 제작한 솔루션 및 솔루션 내 게시정보의 내용에 관하여는 사업자회원이 그에 대한 일체의 책임을 부담하며 서비스 제공자는 이에 대해 어떠한 책임도 부담하지 않습니다.<br>
        ⑤ 서비스 제공자는 이용자 간 또는 이용자와 제3자 상호간의 서비스를 매개로 한 거래 등에 관하여 책임을 지지 않습니다.<br>
        <br>
        제 10조 (취소·환불)<br>
        사업자회원은 서비스를 통해 이루어지는 거래에 관한 취소 및 환불 관련 규정을 정하여 사업자회원의 예약 및 주문 화면에 게시할 수 있습니다. 단, 이러한 취소 및 환불 규정은 전자상거래등에서의 소비자보호에 관한 법률 등 관련 법령에 위반되지 아니하여야 합니다.<br>
        <br>
        제 11조 (준용규정)<br>
         본 약관에서 정하지 아니한 사항은 관련 법령 및 개인정보처리방침에 따릅니다.\n
</html>